
.content-wrapper {
    padding: 10px;
}

body {
    background-image: url("background_try.jpg"); /* url("background_try.jpg) */
    color: #000000 ;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

/* table stuff */
table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: .8rem;
    color: #010110;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif
}

tbody {
    background-color: #e0ddce;
}

thead,
tfoot {
    background-color: #cda1b4;
    color: #150101;
}

td,
th {
    width: fit-content;
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}
/* table stuff vege */

.list_wrapper {
    display: flex;
}
.question {
    width: 60%;
}
.qid {
    width: 5%;
    text-align: center;
}
.votes {
    width: 5%;
    text-align: center;
}
.voted {
    width: 8%;
    text-align: center;
}

.sorting_block {
    flex: 1;
    margin: 20px;
    padding: 10px;
    background-color: #cda1b4;
}

.question_list_block {
    flex: 4.5;
}

.wrapper {
    display: flex;
}
.question-block {
    flex: 1;
    margin: 20px;
    padding: 10px;
    background-color: lightblue;
}
.answer-block {
    flex: 1;
    margin: 20px;
    padding: 10px;
    background-color: lightblue;
}
.buttons {
    margin: 20px;
}
span.is_accepted {
    color: dimgrey;
    font-stretch: condensed;
    font-size: smaller;
    display: inline-block;
    /*border: 1px solid rebeccapurple;*/
    margin-left: 5px;
}

#header-title {
    text-align: center;
}

.r {
    display: inline-block;
}
.a {
    display: inline-block;
    font-size: smaller;
}

.q {
    display: inline;
}

.d {
    display: block;
}

a:visited {
    text-decoration: none;
}


a:link {
    text-decoration: none;
    font-weight: bolder;
}

.styled {
    border: 0;
    line-height: 1.5;
    padding: 0 2px;
    font-size: .9rem;
    /*text-align: center;*/
    /*color: #fff;*/
    /*text-shadow: 1px 1px 1px #000;*/
    /*border-radius: 10px;*/
    /*background-color: rgba(220, 0, 0, 1);*/
    /*background-image: linear-gradient(to top left,*/
    /*                                  rgba(0, 0, 0, .2),*/
    /*                                  rgba(0, 0, 0, .2) 30%,*/
    /*                                  rgba(0, 0, 0, 0));*/
    /*box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),*/
    /*            inset -2px -2px 3px rgba(0, 0, 0, .6);*/
}

.styled:hover {
    background-color: rgb(189, 185, 175);
}

