{% extends "layout.html" %}
{% block content %}
    <body>
    <form method="POST">
        <label>Email:</label>
        <textarea rows="1" cols="10" required name="email"></textarea><br>
        <label>Username:</label>
        <textarea rows="1" cols="10" required name="user_name"></textarea><br>
        <label>Password:</label>
        <input type="password" id="password" required name="password"><br>
        <input type="submit" value="Submit registration">
    </form>
    </body>
    {% include 'footer.html' %}
{% endblock %}